services:
  app:
    image: ghcr.io/${GHCR_USERNAME}/data-cleansing-server:latest
    container_name: data-cleansing-server
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    env_file: 
      - .env
    environment:
      - DOCKER_ENV=true
      - MONGO_URI=mongodb://mongo:27017/mydb
    volumes:
      - ./src:/app/src:delegated
      - ./src/contacts.xlsx:/app/src/contacts.xlsx:delegated      

  mongo:
    image: mongo:6
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
