name: Node.js CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u "${{ secrets.GHCR_USERNAME }}" --password-stdin

      - name: Build Docker Image
        run: docker build -t ghcr.io/avirandev/my-node-app:latest .

      - name: Push Docker Image
        run: docker push ghcr.io/avirandev/my-node-app:latest

  deploy:
    name: Deploy to Production
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Pull Docker Image from GitHub Container Registry
        run: docker pull ghcr.io/avirandev/my-node-app:latest

      - name: Run Docker Container
        run: |
          docker run -d -p 8080:8080 ghcr.io/your-username/my-node-app:latest
